!!!
%html
  %head
    %title Admin | Misfit Tech
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %p.alert= alert
    = yield
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
